- var title = 'Пополнение счёта с кредитом'
- var parentTitle = 'Кредит наличными'

include head.pug
body(theme="alfa-on-white")
	.desktop
		include desktop/header.pug
		.wrapper
			include desktop/left.pug
			include desktop/right.pug
			include desktop/content-add.pug
		include desktop/sms-popup.pug
	.mobile
		include mobile/header-add.pug
		.wrapper
			include mobile/content-add.pug
		include mobile/sms-popup.pug

include desktop/footer.pug
