- var title = 'Изменение условий кредита'
- var parentTitle = 'Кредит наличными'

include head.pug
body.conditions
	.desktop
		include desktop/header.pug
		.wrapper
			include desktop/left.pug
			include desktop/right.pug
			include desktop/content-conditions.pug
		include desktop/sms-popup.pug
	.mobile
		include mobile/header.pug
		include mobile/content-conditions.pug
		include mobile/sms-popup.pug
include desktop/footer.pug
