- var title = 'Уменьшение срока кредита'
- var parentTitle = 'Кредит наличными'

include head.pug
body.date
	.desktop
		include desktop/header.pug
		.wrapper
			include desktop/left.pug
			include desktop/right.pug
			include desktop/content-date.pug
		include desktop/sms-popup.pug
	.mobile
		include mobile/header.pug
		include mobile/content-date.pug
		include mobile/sms-popup.pug
include desktop/footer.pug
