- var title = 'Кредит наличными'
- var parentTitle = ''

include head.pug
body.graph
	.desktop
		include desktop/header.pug
		.wrapper
			include desktop/left.pug
			include desktop/right.pug
			.right
				.title #{title}

				.tabs
					.tabs__tab.tab
						a(href="/") О кредите
					.tabs__tab.tab.tab--active
						a(href="/graph.html") График платежей
					.tabs__tab.tab 
						a(href="/statement.html") Выписка
					.tabs__tab.tab 
						a(href="/requisites.html") Реквизиты
					.tabs__line
					.tabs__current.tabs__current--2

				.row
					img(src="../images/graph-desktop.png").fake-page
	.mobile
		- var title = 'График платежей'
		include mobile/header.pug
		img(src="../images/graph-mobile.png").fake-page
include desktop/footer.pug
