doctype html
head
	meta(charset="utf-8")
	link(rel="shortcut icon" type="image/png" href="images/favicon-32x32.png")
	title #{title}
	meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
	link(href="styles/styles2.css" rel="stylesheet" type="text/css")
	meta(name='twitter:title', meta='title', content='Кредит наличными в Альфа-Банке')
	meta(name='twitter:description', meta='description', content='Прототип выдачи и изменения кредита в Альфа-Банке')
	meta(property='og:title', meta='title', content='Кредит наличными в Альфа-Банке')
	meta(property='og:type', content='website')
	meta(property='og:url', content='http://credit.surge.sh/')
	meta(property='og:description', meta='description', content='Прототип выдачи и изменения кредита в Альфа-Банке')
	meta(property='og:site_name', content='Кредит наличными в Альфа-Банке')
	meta(name='site_title', content='Кредит наличными в Альфа-Банке')
	meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
	script(type='text/javascript').
		(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
		try {
		w.yaCounter45340332 = new Ya.Metrika({
		id:45340332,
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true,
		webvisor:true
		});
		} catch(e) { }
		});
		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";
		if (w.opera == "[object Opera]") {
		d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	noscript
		div
			img(src='https://mc.yandex.ru/watch/45340332', style='position:absolute; left:-9999px;', alt='')
	// /Yandex.Metrika counter
