- var title = 'Кредитные каникулы'
- var parentTitle = 'Кредит наличными'

include head.pug
body
	.desktop
		include desktop/header.pug
		.wrapper
			include desktop/left.pug
			include desktop/right.pug
			include desktop/content-vacation.pug
		include desktop/sms-popup.pug
	.mobile
		include mobile/header.pug
		include mobile/content-vacation.pug
		include mobile/sms-popup.pug
include desktop/footer.pug
