.radio-months {

	.radio-tab {

		label {
			display: flex;
			flex-direction: column;
			align-items: left;
			height: 71px;
			padding: 16px 40px 16px 16px;
			text-align: left;
		}

		&__desc {
			opacity: .5;
			font-size: 16px;
			font-weight: normal;
			margin-top: 7px;
		}
	}
}

.mobile {

	.main-links {
		.semi-title {
			padding-left: 12px;
		}
	}

	.row__dates {
		.radio-tab:first-child {
			padding-left: 12px;
		}
		.semi-title {
			padding-left: 12px;
		}
	}
}

.anotherTabLabel .radio-tab__title {
	line-height: 23px;
	margin-top: -4px;
}

.row__text {
	font-size: 17px;
}

.desktop .row__newDate {
	.columnS(4);
	float: left;
	margin-right: @gutterS;

	@media @desktopBig {
		.columnBig(4);
		margin-right: @gutterBig;
	}

	@media @mobile {
		width: 100%;
	}
}

.input--newDate {
	.columnS(3);

	@media @desktopBig {
		.columnBig(3);
	}

	@media @mobile {
		width: 100%;
	}
}

.mobile .row--reduce .semi-title {
	padding-left: 12px;
}

.mobile .row--reduce .radio__wrapper .radio-tab:first-child {
	padding-left: 12px;
}
