.right
	.title #{title}
	
	form#main-form(name="main-form")
		.row.row__input.row__form.row__from
			.semi-title Что изменить
			.radio
				.radio-tab
					input(name="what-change",id="srok",type="radio",checked="true",value="srok", form='main-form').input-radio
					label(for='srok') Срок кредита
				.radio-tab
					input(name="what-change",id="platej",type="radio",value="platej", form='main-form').input-radio
					label(for='platej') Платёж
		.row.row__input.row__form.row__credit-end
			.semi-title Осталось до конца кредита
			.radio.radio-months.radio-months--conditions
				.radio__wrapper
		.row.row__input.row__form.row__whatDate
			.semi-title Количество месяцев кредита
			input(type='text',pattern="[0-9]*",inputmode="numeric", form='main-form').input-text.input--whatDate
		.row.row__input.row__form.row__new-payment-date
			.semi-title Как изменится платеж
			.row__text 
		.row.row__input.row__form.row__new-payment
			.semi-title Новый ежемесячный платёж
			input(type='text',placeholder='0', form='main-form').input-text.input--sum
			.row__desc Сейчас ежемесячный платёж — <span class="creditMonthPayment"></span>,00 ₽. Платёж не может быть ниже <span class="creditMonthMinPayment"></span> ₽ и выше задолжности по кредиту.

		.row.row__input.row__form.row__new-credit-date
			.semi-title Как изменится срок кредита
			.from-to
				.from-to__from 60 месяцев
				.from-to__arrow →
				.from-to__to 53 месяца
		- var buttonLabel = 'Изменить'
		include ../parts/form-end-clear.pug
