.right
	.title #{title}
	.title-desc Чтобы ежемесячный платёж уменьшился, досрочно погасите кредит на сумму 3 000 ₽ или больше.
	
	form#main-form
		include ../sum.pug
			
		.row.row__input.row__form
			.semi-title Новый ежемесячный платёж
			.from-to
				.from-to__from 6 253,47 ₽
				.from-to__arrow →
				.from-to__to 6 000,25 ₽
			
		include from.pug
		include ../form-end.pug
