.right
	.title #{title}
	
	.row
		.row__block13.row__block.row__credit
			.number 9 586
				span.number__grey ,10 ₽
				span.number__card
			.desc Текущий счёт ··4576
		.row__block13.row__block.row__current
			.number 6 253
				span.number__grey ,47 ₽
			.desc Платёж 29 сентября
	
	form
		.row.row__input.row__form
			.semi-title Сумма пополнения
			input(type='text',placeholder='0').input-text
			
		.row.row__input.row__form.row__from
			.semi-title Откуда пополнить
			.radio
				.radio-tab
					input(name="from",id="schet",type="radio",checked="true").input-radio
					label(for='schet') Со счёта
				.radio-tab
					input(name="from",id="card",type="radio").input-radio
					label(for='card') С карты
						
		.row.row__input.row__form.row__from
			.semi-title С какого счёта
			select.select
				option(selected=true) 1
				option 2
		.row.row__input.row__form
			.button Пополнить
