.right
	.title #{title}
	
	form#main-form
		include ../sum.pug
			
		.row.row__input.row__form
			.semi-title Новый ежемесячный платёж
			.from-to
				.from-to__from 
				.from-to__arrow →
				.from-to__to 
		- var buttonLabel = 'Уменьшить платеж'
		include from.pug
		include ../form-end.pug
