.right
	.title #{title}
	.title-sum <span class="creditDebt"></span> ₽ 
	
	form#main-form
		- var fromLabel = 'Откуда погасить'
		- var buttonLabel = 'Закрыть кредит'
		include from.pug
		include ../parts/form-end-clear.pug
