.right
	.title #{title}
	.title-desc Чтобы срок кредита уменьшился, досрочно погасите его на сумму ежемесячного платежа или больше.

	form
		.row.row__input.row__form
			.semi-title На какой срок уменьшить кредит
			.radio.radio-months
				.radio-tab
					input(name="months",id="month1",type="radio").input-radio
					label(for='month1') 1 месяц
						span.radio-tab__desc 6 253,47 ₽
				.radio-tab
					input(name="months",id="month2",type="radio").input-radio
					label(for='month2') 2 месяца
						span.radio-tab__desc 12 506,94 ₽
				.radio-tab
					input(name="months",id="month3",type="radio").input-radio
					label(for='month3') 6 месяцев
						span.radio-tab__desc 37 520,82 ₽
				.radio-tab
					input(name="months",id="month4",type="radio").input-radio
					label(for='month4') 1 год
						span.radio-tab__desc 98 520,82 ₽
					
			
		include ../sum.pug
		include from.pug
		.row.row__input.row__form
			.button Пополнить
