.right
	.title #{title}

	.tabs
		.tabs__tab.tab.tab--active 
			a(href="") О кредите
		.tabs__tab.tab 
			a(href="") График платежей
		.tabs__tab.tab 
			a(href="") Выписка
		.tabs__tab.tab 
			a(href="") Реквизиты
		.tabs__line
		.tabs__current

	.row
		.row__block13.row__block.row__block--grey
			.semi-title Ближайший платёж
			.paragraph <span class="creditNextPaymentDate"></span> со счёта будет списано <span class="creditNextPayment"></span> ₽
			a.button(href="add.html") Пополнить счёт
		.row__block13.row__block.row__credit
			.number <span class="creditDebt"></span>
				span.number__grey ,21 ₽
			.desc Задолженность по кредиту
		.row__block13.row__block.row__current
			.number <span class="currentAccountSum"></span>
				span.number__grey ,10 ₽
				span.number__card
			.desc Текущий счёт ··<span class="currentAccountNumber"></span>
		
	.row
		.row__big-title Управление кредитом

	.row.main-links
		.row__block12
			.semi-title Досрочное погашение
			a.row__link(href="payment.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Уменьшить ежемесячный платёж
			a.row__link(href="date.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Уменьшить срок кредита
			a.row__link(href="close.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Закрыть кредит
				.row__link-desc <span class="creditDebt"></span> ₽, чтобы закрыть кредит сегодня
		.row__block12
			.semi-title Сделайте кредит лучше
			a.row__link(href="conditions.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Изменить условия кредита
				.row__link-desc Измените срок и ежемесячный платёж
			a.row__link(href="vacation.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Кредитные каникулы
				.row__link-desc Отдохните от кредита от 1 до 6 месяцев

	.row
		.row__big-title Информация о кредите
		
	.row.row--data
		.row__block14.row__block-data.block-data
			.block-data__header Кредитный лимит
			.block-data__data <span class="creditLimit"></span>,00 ₽
		.row__block14.row__block-data.block-data
			.block-data__header Ежемесячный платёж
			.block-data__data <span class="creditMonthPayment"></span>,47 ₽
		.row__block14.row__block-data.block-data
			.block-data__header Процентная ставка
			.block-data__data <span class="creditRate"></span> %
		.row__block14.row__block-data.block-data
			.block-data__header Срок кредита
			.block-data__data <span class="creditDurationText"></span>
		.row__block14.row__block-data.block-data
			.block-data__header Дата выдачи
			.block-data__data <span class="creditRecieveDate"></span>
		.row__block14.row__block-data.block-data
			.block-data__header Дата последнего платежа
			.block-data__data <span class="creditLastPaymentDate"></span>
		.row__block14.row__block-data.block-data
			.block-data__header Номер счёта
			.block-data__data 4081 7810 7044 4000 1693
