.right
	.title #{title}
	
	.row
		.row__block13.row__block.row__credit
			.number <span class="currentAccountSum"></span>
				span.number__grey ,00 ₽
				span.number__card
			.desc Текущий счёт ··<span class="currentAccountNumber"></span>
		.row__block13.row__block.row__current
			.number <span class="creditNextPayment"></span>
				span.number__grey ,00 ₽
			.desc Платёж <span class="creditNextPaymentDate"></span>
	
	form#main-form
		- var buttonLabel = 'Пополнить счет'
		- var fromLabel = 'Откуда пополнить'
		- var selectMini = 1
		include ../sum.pug
		include from.pug
		include ../form-end.pug
		
