.right
	.title #{title}
	
	.row
		.row__block13.row__block.row__credit
			.number 9 586
				span.number__grey ,10 ₽
				span.number__card
			.desc Текущий счёт ··4576
		.row__block13.row__block.row__current
			.number 6 253
				span.number__grey ,47 ₽
			.desc Платёж 29 сентября
	
	form
		include ../sum.pug
		include from.pug
		.row.row__input.row__form
			.button Пополнить
