.right
	.title #{title}
	.title-desc Чтобы срок кредита уменьшился, досрочно погасите его на сумму ежемесячного платежа или больше.

	form#main-form
		.row.row__input.row__form.row--reduce
			.semi-title На какой срок уменьшить кредит
			.radio.radio-months.radio-months--date
				.radio__wrapper
		.row.row__input.row__form.row__newDate
			.semi-title На сколько месяцев уменьшить кредит
			input(type='text',pattern="[0-9]*",inputmode="numeric", form='main-form').input-text.input--newDate
		.row.row__input.row__form.row__new-credit-sum
			.semi-title Нужно заплатить
			.row__text 
		- var buttonLabel = 'Уменьшить срок'
		include from.pug
		include ../form-end.pug
