.right
	.title #{title}

	.tabs
		.tabs__tab.tab.tab--active 
			a(href="") О кредите
		.tabs__tab.tab 
			a(href="") График платежей
		.tabs__tab.tab 
			a(href="") Выписка
		.tabs__tab.tab 
			a(href="") Реквизиты
		.tabs__line
		.tabs__current

	.row
		.row__block13.row__block.row__block--grey
			.semi-title Ближайший платёж
			.paragraph 29 сентября со счёта будет списано 6 253,47 ₽
			a.button(href="add.html") Пополнить счёт
		.row__block13.row__block.row__credit
			.number 1 982 838
				span.number__grey ,21 ₽
			.desc Задолженность по кредиту
		.row__block13.row__block.row__current
			.number 9 586
				span.number__grey ,10 ₽
				span.number__card
			.desc Текущий счёт ··4576
		
	.row
		.row__big-title Управление кредитом

	.row.main-links
		.row__block12
			.semi-title Досрочное погашение
			a.row__link(href="payment.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Уменьшить ежемесячный платёж
			a.row__link(href="date.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Уменьшить срок кредита
			a.row__link(href="close.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Закрыть кредит
				.row__link-desc 1 981 000 ₽, чтобы закрыть кредит сегодня
		.row__block12
			.semi-title Сделайте кредит лучше
			a.row__link(href="conditions.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Изменить условия кредита
				.row__link-desc Измените срок и ежемесячный платёж
			a.row__link(href="vacation.html")
				.row__link-icon.row__link-icon--clock
				.row__link-text Кредитные каникулы
				.row__link-desc Отдохните от кредита от 1 до 6 месяцев

	.row
		.row__big-title Информация о кредите
		
	.row.row--data
		.row__block14.row__block-data.block-data
			.block-data__header Кредитный лимит
			.block-data__data 70 000,00 ₽
		.row__block14.row__block-data.block-data
			.block-data__header Ежемесячный платёж
			.block-data__data 6 253,47 ₽
		.row__block14.row__block-data.block-data
			.block-data__header Процентная ставка
			.block-data__data 18,99 %
		.row__block14.row__block-data.block-data
			.block-data__header Срок кредита
			.block-data__data 5 лет и 2 месяца
		.row__block14.row__block-data.block-data
			.block-data__header Дата выдачи
			.block-data__data 29 сентября 2016
		.row__block14.row__block-data.block-data
			.block-data__header Дата последнего платежа
			.block-data__data 29 сентября 2049
		.row__block14.row__block-data.block-data
			.block-data__header Номер счёта
			.block-data__data 4081 7810 7044 4000 1693
