header
	.wrapper
		a.avatar(href="/")
			.avatar__logo
			.avatar__logo-text
		.not-avatar
			.title-upper
				.title-upper__text #{parentTitle}
			.personal
				.personal__messages
				.personal__notifications
				.personal__user.user Серафим Четверухин
