.left
	.left__menu.menu
		.menu__item 
			a(href="") Счета и карты
		.menu__item
			a(href="") Платежи и переводы
		.menu__item
			a(href="") Выписка
		.menu__item
			a(href="") Депозиты
		.menu__item.menu__item--active
			a(href="/") Кредиты
		.menu__item
			a(href="") Инвестиции
		.menu__item
			a(href="") Вклады
