.notification
	.notification__icon
	.notification__message
		.notification__title Счёт с кредитом пополнен на 87 451 ₽
		.notification__desc 29 сентября со счёта будет списано 6 253,47 ₽
	.notification__close
