.notification
	.notification__icon
	.notification__message
		.notification__title Операция прошла успешно
		.row.row__input.row__form.row__new-notification-payment
			.from-to
				.from-to__to
		.notification__desc
	.notification__close
