.popup
	.popup__close
	.popup__title Введите одноразовый пароль из SMS
	.popup__input
		input.input-text.input--sms(type="number")
	.popup__desc Пароль отправлен на +7 ··· ··· 12-10 <br/> Запросить пароль повторно через 23 секунды
.overlay
