.row.main-links
	.row__block11.row__block
		.main-semi-title Ближайший платёж
		.paragraph 29 сентября со счёта будет списано 6 253,47 ₽
.row.main-links
	.row__block11
		.main-semi-title Досрочное погашение
		a.row__link(href="payment.html")
			.row__link-icon.row__link-icon--clock
			.row__link-text Уменьшить ежемесячный платёж
		a.row__link(href="date.html")
			.row__link-icon.row__link-icon--clock
			.row__link-text Уменьшить срок кредита
		a.row__link(href="close.html")
			.row__link-icon.row__link-icon--clock
			.row__link-text Закрыть кредит
			.row__link-desc 1 981 000 ₽, чтобы закрыть кредит сегодня
.row.main-links
	.row__block11
		.main-semi-title Сделайте кредит лучше
		a.row__link(href="")
			.row__link-icon.row__link-icon--clock
			.row__link-text Изменить условия кредита
			.row__link-desc Измените срок и ежемесячный платёж
		a.row__link(href="")
			.row__link-icon.row__link-icon--clock
			.row__link-text Кредитные каникулы
			.row__link-desc Отдохните от кредита от 1 до 6 месяцев
