.title-sum <span class="creditDebt"></span> ₽ 

form#main-form-mobile
	- var fromLabel = 'Откуда погасить'
	include from.pug
	- var buttonLabel = 'Закрыть кредит'
	include ../parts/form-end-clear.pug
