.row.main-links
	.row__block11
		a.row__link(href="add.html")
			.row__link-text Пополнить счёт с кредитом
			.row__link-desc <span class="creditNextPaymentDate"></span> со счёта будет списано <span class="creditNextPayment"></span> ₽
.row.main-links.row--better
	.row__block11
		.main-semi-title Сделайте кредит лучше
		a.row__link(href="conditions.html")
			.row__link-text Изменить условия кредита
			.row__link-desc Измените срок и ежемесячный платёж
		a.row__link(href="vacation.html")
			.row__link-text Кредитные каникулы
			.row__link-desc Отдохните от кредита от 1 до 6 месяцев
.row.main-links
	.row__block11
		.main-semi-title Досрочное погашение
		a.row__link(href="payment.html")
			.row__link-text Уменьшить ежемесячный платёж
		a.row__link(href="date.html")
			.row__link-text Уменьшить срок кредита
		a.row__link(href="close.html")
			.row__link-text Закрыть кредит
			.row__link-desc <span class="creditDebt"></span> ₽, чтобы закрыть кредит сегодня
.row.main-links
	.row__block11
		.main-semi-title Информация
		a.row__link(href="/graph.html")
			.row__link-icon.row__link-icon--clock
			.row__link-text График платежей
		a.row__link(href="/")
			.row__link-icon.row__link-icon--account
			.row__link-text О кредите
		a.row__link(href="/requisites.html")
			.row__link-icon.row__link-icon--credit
			.row__link-text Реквизиты
.bottom-logo
