.wrapper
	.title-desc Вы добросовестно погашаете кредит, и мы хотим поблагодарить вас за это. Вы можете немного отдохнуть от выплат кредита.

form#main-form-mobile
	.row.row__input.row__form.row__dates
		.semi-title На какой срок взять каникулы
		.radio.radio-months.radio-months--vacations
			.radio__wrapper
	.wrapper
		- var buttonLabel = 'Взять каникулы'
		include ../parts/form-end-clear.pug
