.row.row__input.row__form.row__from
	.semi-title #{fromLabel}
	.radio
		.radio-tab
			input(name="from-mobile",id="schet-mobile",type="radio",checked="true",value="schet").input-radio
			label(for='schet-mobile') Со счёта
		.radio-tab
			input(name="from-mobile",id="card-mobile",type="radio",value="card").input-radio
			label(for='card-mobile') С карты
.row.row__input.row__form.row__schet
	.semi-title С какого счёта
	case selectMini
		when 1
			select.select.select--mini
				option(selected=true) 1
		default
			select.select.select--standard
				option(selected=true) 1
				option 2
.row.row__input.row__form.row__card
	.semi-title Любая карта любого банка
	.card
		.card-front
			.input.input--card 
				input(type='text',pattern="[0-9]*",inputmode="numeric").input-text
				.input__desc Номер карты
			.input.input--date
				input(type='text',pattern="[0-9]*",inputmode="numeric").input-text
				.input__desc Срок действия карты
		.card-back
			.card-back__line
			.input.input--cvc
				input(type='text',pattern="[0-9]*",inputmode="numeric").input-text
				.input__desc CVC
