header.header
	.wrapper
		a.avatar(href="/")
			.avatar__logo
			.avatar__logo-menu Меню
		.mobile-title  #{title}
		.row
			.row__block.row__current
				.number 9 586
					span.number__grey ,00 ₽
					span.number__card
				.desc Текущий счёт ··4576
				a.info
