header.header.header--superbutton
	.wrapper
		a.avatar(href="/")
			.avatar__logo
			.avatar__logo-menu Меню
		.mobile-title  #{title}
		.row
			.row__block.row__credit
				.number <span class="creditDebt"></span>
					span.number__grey ,00 ₽
				.desc Задолженность по кредиту
			.row__block.row__current
				.number
					span.currentAccountSum
					span.number__grey ,00 ₽
					span.number__card
				.desc Текущий счёт ··4576
				a.info
