header.header.header--superbutton
	.wrapper
		a.avatar(href="/")
			.avatar__logo
			.avatar__logo-menu Меню
		.mobile-title  #{title}
		.row
			.row__block.row__credit
				.number 1 982 838
					span.number__grey ,21 ₽
				.desc Задолженность по кредиту
			.row__block.row__current
				.number 9 586
					span.number__grey ,10 ₽
					span.number__card
				.desc Текущий счёт ··4576
				a.info
.super-button Пополнить счёт
